# Ignore large files
*.npy
*.zip

*.jpg
*.log
*.pt

# Dataset directories
Doublecam_dataset/
dataset155/
8-Ball-Pool-3

# Ignore model checkpoints
RL_models/

# Ignore system files
.DS_Store
__pycache__/
.env

# config for api key
roboflow.json