# Ignore large files
*.npy
*.jpg
*.log

# too large files
PPO.zip
PPO_masked.zip

# Export files
plot_export/

# Dataset directories
Doublecam_dataset/
dataset155/
8-Ball-Pool-3/

# Ignore system files
.DS_Store
__pycache__/
.env

# config for api key
roboflow.json